@using Dominio

@foreach (Publicacion p in ViewBag.publicaciones)
{
    <tr>
        <td>@p.Nombre</td>
        <td>$@p.CalcularPrecio()</td>
        <td>@p.Estado</td>
        <td>
            @{
                string enlace = "/Publicaciones/";
                string clase = "btn btn-";
                string icono = "fa-solid";
                string titulo = "Ir a";

                if (p is Venta) {
                    enlace += $"Comprar?id={p.Id}";
                    icono += " fa-cart-shopping";
                    titulo += " comprar";
                }
                else
                {
                    enlace += $"Subastar?id={p.Id}";
                    icono += " fa-gavel";
                    titulo += " ofertar";
                }

                if (p.Estado == Dominio.Enums.EstadoPublicacion.ABIERTA) clase += "success";
                if (p.Estado != Dominio.Enums.EstadoPublicacion.ABIERTA) clase += "danger disabled";
            }

            <a title="@titulo" class="@clase" href="@enlace">
                <i class="@icono"></i>
            </a>
        </td>
    </tr>
}

@if (ViewBag.publicaciones.Count == 0)
{
    <tr>
        <td class="text-center" colspan="4">No se encontraron resultados</td>
    </tr>
}